@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Open+Sans&display=swap');

:root {
    --blue: #006D81; 
    --purple: #560A38;
}

nav {
    background-color: var(--blue);
    font-size: 20px;
}

#logo {
    font-family: 'Cookie';
    font-size: 40px;
    color: white;
}

.nav-item {
    color: white;
    transition: text-shadow 0.125s;
}

.nav-item:hover,
.nav-item:focus {
    color: white;
    text-shadow:
        0px 0px 10px var(--purple),
        0px 0px 20px var(--purple),
        0px 0px 20px var(--purple);
}